h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
body{
    height: 100%;
    width: 100%;
}
#user-container {
    position: fixed;           
    bottom: 20px;              
    left: 50%;                 
    transform: translateX(-50%);

    width: 80%;
    max-width: 600px;

    padding: 10px;
    background: white;
}
#user-container form {
    display: flex;
    gap: 10px;
}
#user-container textarea {
    flex: 1;              /* fills available space */
    resize: none;
    padding: 8px;
}
#user-container button {
    padding: 5px 16px;
    cursor: pointer;
}

#display_user_input{
    display: flex;
    right: 20%;
    width: 30%;
}

#AI_output{
    display: flex;
    left: 20%;
    width: 30%;
}