{% extends "base.html" %}
{% block content%}
<div class="chat-container">
    <div class="convo-container">
        {% if user_input %}
        <div class="message user-message">
            <p>{{user_input}}</p>
        </div>
        {% endif%}
        {% if output %}
        <div class="message ai-message">
            <p>{{output}}</p>
        </div>
        {% endif %}
    </div>
</div>
<div id="user-container">
    <form action="#" method="post">
        <textarea name="user_input" rows = "3" cols = "50" placeholder="Ask anything" style="resize: none;"></textarea>
        <button type="submit">Generate</button>
    </form>
</div>

{% endblock %}